
* {
    outline: 1px solid black;
}
html,
body {
    height: -webkit-fill-available;
}

.s-intro {
    min-height: -webkit-fill-available;
}
body {
    margin: 0;
}

main {
    display: block;
}
img {
    border-style: none;
}



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/* ===================================================================
 * # BASE SETUP
 *
 *
 * ------------------------------------------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    /* Prevent scrolling */
}

img {
    max-width: 100%;
    height: auto;
}
/* ===================================================================
 * # INTRO
 *
 *
 * ------------------------------------------------------------------- */
.s-intro {
    min-height: calc(var(--vh, 1vh) * 100);
    height: 100%;
    overflow: hidden;
    position: relative;
}
/* --------------------------------------------------------------------
 * ## intro background
 * -------------------------------------------------------------------- */
.s-intro__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg-web.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.s-intro__bg::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .2;
}

.s-intro__bg::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .8;
}
.s-intro__bg {
    background-image: url('images/1920×1080.jpg');
}
.extra-image {
    display: none;
}

/* Tablet Portrait (768×1024) */
@media (max-width: 1600px) {
    .s-intro__bg {
        background-image: url('images/1024×1279.jpg');
        background-position: center bottom;
    }
}
/* Tablet Portrait (768×1024) */
@media (max-width: 1368px) {
    .s-intro__bg {
        background-image: url('images/1024×1279.jpg');
        
    }
}
@media (max-width: 1368px) and (max-height: 912px) {
    .s-intro__bg {
        background-image: url('images/1024×768.jpg');
        background-position: center calc(100% + 35px);
    }
}
@media (max-width: 1280px) and (max-height: 800px) {
    .s-intro__bg {
        background-image: url('images/1024×1279.jpg');
        background-position: center calc(100% + 35px);
    }
         
}

@media (max-width: 1024px) {
    .s-intro__bg {
        background-image: url('images/1024×768.jpg');
        background-position: center center;
    }
}
@media (max-height: 1366px) and (max-width: 1024px) {
    .s-intro__bg {
        background-image: url('images/768×1024.jpg');
        background-position: center center;
    }
}


@media (max-height: 786px) and (max-width: 1024px) {
    .s-intro__bg {
        background-image: url('images/1280×1024.jpg');
        background-position: center center;
    }
}
@media (max-height: 600px) and (max-width: 1024px) {
    .s-intro__bg {
        background-image: url('images/1920×1080.jpg');
        background-position: center;
    }
}
@media (max-height: 1280px) and (max-width: 853px) {
    .s-intro__bg {
        background-image: url('images/601×962.jpg');
        background-position: center center;
    }
}

@media (max-width: 912px) and (max-height: 1368px) {
    .s-intro__bg {
        background-image: url('images/601×962.jpg');
        background-position: center center;
    }
}
@media (max-width: 820px) and (max-height: 1180px) {
    .s-intro__bg {
        background-image: url('images/768×1024.jpg');
        background-position: center ;
    }
}
/* Tablet Landscape (1024×768) */
@media (max-width: 768px) {
    .s-intro__bg {
        background-image: url('images/768×1024.jpg');
        background-position: center center;
     
    }
}
/* Tablet Landscape (1024×768) */
@media (max-width: 721px) {
    .s-intro__bg {
        background-image: url('images/1280×1024.jpg');
        background-position: center center;
     
    }
}
@media (max-width: 540px) and (max-height: 720px) {
    .s-intro__bg {
        background-image: url('images/768×1024.jpg');
        background-position: center;
    }
}

/* Mobile (375×667) */
@media (max-width: 479px) {
    .s-intro__bg {
        background-image: url('images/390×844.jpg');
        background-position: center bottom;
    }
}

@media (max-height: 667px) and (max-width: 375px) {
    .s-intro__bg {
        background-image: url('images/375×667.jpg');
        background-position: center bottom;
    }
}
/* Mobile (375×667) */
@media (max-width: 345px) {
    .s-intro__bg {
        background-image: url('images/360×800.jpg');
        background-position: center bottom;
    }
}
@media (width: 1280px) and (height: 800px) {
.extra-image {
        display: block;
        outline: none;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        max-width: 300px;
    }
         
}